body {
    background-color: rgb(240, 209, 216);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header {

    background-color: white;
    color: pink;
}

.header h2{
    font-size: medium
}
.nav a {
    color: beige;
}

.hero {

} 

.products {

}

.shop {

}

.footer {
    
}