body {
    background-color: rgb(240, 209, 216);
    color: rgb(0, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header {

    background-color: white;
    color: pink;
}

.header h2{
    font-size: xx-large;
}
.nav a {
    color: rgb(255, 155, 206);
}

.hero {

} 

.products {

}

.shop {

}

.footer {
    
}