body {
    background-color: rgb(240, 209, 216);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.header {

}

.hero {

}

.products {

}

.shop {

}

.footer {
    
}